<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Block</title>
  </head>
  <body>
    <h3>Index:</h3>
    <p><%= blockNew.index %></p>
    <p><%= blockNew.timestamp %></p>
    <p><%= blockNew.transactionData %></p>
    <p><%= blockNew.previousHash %></p>
    <p><%= blockNew.hash %></p>
    <br />
    <br />
    <a href="/">Home</a>
    <a href="/getChain">Show BlockChain</a>
  </body>
</html>
